@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f0f0f0;
        color: #333;
    }
    
    
    h1 {
        font-size: 2.5em;
        color: #007bff;
    }
    
    p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    h2, h3 {
        color: #0056b3;
    }
    
    img {
        margin: 10px 0;
    }
    
    div {
        margin-top: 20px;
    }
    

</style>

<div>
    <a class="linkSelectPaquete" href="@Url.Action("SelectPaquete", "Home")">Seleccionar Paquete</a>
</div>


<h2 class="tituloPagina">Lista de Paquetes Turísticos</h2>

@if (ViewBag.Paquetes != null && ViewBag.Paquetes.Count > 0)
{
    <div class="paquetes">
        @foreach (var paquete in ViewBag.Paquetes)
        {   
            <div>
                <b>Destino:</b> <h3>@paquete.Key</h3>

                <b>Hotel:</b> <img src="/img/@Url.Content(paquete.Value.Hotel)" alt="Hotel Image" style="height: 200px;"/>
                <b>Aéreo:</b> <img src="/img/@Url.Content(paquete.Value.Aereo)" alt="Aereo Image" style="height: 200px;"/>
                <b>Excursión:</b> <img src="/img/@Url.Content(paquete.Value.Excursion)" alt="Excursion Image" style="height: 200px;" />
            </div>
        }
    </div>
}
else
{
    <p>No hay paquetes disponibles.</p>
}